@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Испытательное задание</h1>
    <p>Приложение для загрузки и отображения архивов погодных условий в городе Москва</p>
</div>
